{% extends 'tbcore/base_core.html' %}


{% block specific_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan/css/base_block.css' %}">
{% endblock %}

{% block content %}



    <!-- Sidebar-->

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
    {% if user.is_authenticated%}

        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">

                <!-- Icon sidebar -->
                <button class="btn btn-primary menu-btn" id="sidebarToggle"><i class="bi bi-list"></i></button>


            </div>
        </nav>
{% endif %}

        <div class="d-flex" id="wrapper">
{% if user.is_authenticated%}
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom m-0">My Courses</div>
                <div class="list-group list-group-flush">


                    {#              <a class="list-group-item list-group-item-action list-group-item-light p-3"#}
                    {#                                  href="{% url 'create_plan' 'add_new_plan' %}">Add</a>#}
                    <div class="list-group-item list-group-item-action list-group-item-light p-3">
                        <form action="{% url 'create_plan' 'add_new_plan' %}" method="POST" class="mx-3">
                            {% csrf_token %}
                            {{ form.plan_name }}
                            <input type="submit" name="Submit" value="Add new course" class="btn-primary my-3 px-3">
                        </form>

                    </div>

                    {% for p in user_filter_plans reversed  %}
                        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'select_plan' p.pk %}">{{ p.plan_name }}</a>
                    {% endfor %}



                </div>
            </div>
    {% endif %}
            <!-- Page content-->
            <div class="container-fluid">

                <!-- Messages-->

                <section>

{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissible fade show" role= "alert">
      <button type="button" class="close" data-bs-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

</section>

                {% block building_block_idea %}

                {% endblock %}


            </div>
        </div>

    </div>




    <script src="{% static 'plan/js/menu_bar.js' %}"></script>




{% endblock %}


