{% extends 'tbcore/base_core.html' %}
{% load bootstrap5 %}

{% block specific_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan/css/base_block.css' %}">
{% endblock %}

{% block content %}

<!-- building blocks navbar-->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBuildingBlock">
      <span class="navbar-toggler-icon h-color"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarBuildingBlock">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active"  href="#">Hallway Chatter & Human Touch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Organization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Assignments</a>
        </li>
          <li class="nav-item">
          <a class="nav-link">Discussion/Interaction</a>
        </li>
          <li class="nav-item">
          <a class="nav-link">Student Engagement</a>
        </li>
          <li class="nav-item">
          <a class="nav-link">Assessment</a>
        </li>
          <li class="nav-item">
          <a class="nav-link">Rules & Regulations</a>
        </li>
          <li class="nav-item">
          <a class="nav-link">Teaching Material</a>
        </li>
      </ul>

    </div>
  </div>
</nav>



    
{% endblock %}