{% extends "plan/base_block.html" %}
{% load toolbox_custom_tags %}
{% load static %}
{% block title %}
    ToolBox | Building Blocks
{% endblock %}
{% block specific_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan/css/base_block.css' %}">
{% endblock %}

{% block building_block_idea %}


    <!-- Showcase-->


    {% if not user.is_authenticated %}
        <section class="bg-light text-dark p-3 mt-1">
            <div class="container">
                <div class="d-flex flex-column ">
                    {#                <div class="text-center">#}
                    {#                    <h4>Online Ideas</h4>#}
                    {#                #}
                    {#                </div>#}
                    <div>
                        <h5>Course Exploration Mode</h5>
                        <p class="lead">If you want to save changes as well as the online ideas, please log in and crate
                            a
                            course to get started!</p>
                        <a class="btn btn-primary button-touch" href="{% url 'login' %}">Switch to Revision Mode</a>
                    </div>


                </div>

            </div>

        </section>
    {% endif %}





    <!-- Block introductory text -->

    <section class="p-2 mt-2">
        <div class="container">
            <h3 class="text-center mb-5">{{ category.category_name }}</h3>
            <p class="text-start">




                    {% md_to_html category.short_description as short_d_html %}{{ short_d_html|safe }}


            </p>

        </div>
    </section>


    <!-- Accordion Content -->

    {% get_accordion_content category.titles_accordion category.content_accordion as show_content %}
    {% if show_content.len_content > 0 %}

        <section class="p-5">
            <div class="accordion">
                {% for acc_id,t,c in show_content.content_accordion %}
                    <div class="accordion bg-info" id="accordionInfo">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ acc_id }}" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                    {% md_to_html t as title_html %}{{ title_html|safe }}
                                </button>
                            </h2>
                            <div id="collapse{{ acc_id }}" class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionInfo">
                                <div class="accordion-body">
                                    {% md_to_html c as accordion_con_html %}{{ accordion_con_html|safe }}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </section>


    {% endif %}




    <!-- Online Ideas -->
    <div id="online-idea-container">
        {% show_ideas user.is_authenticated %}
    </div>




        {#    Buttons bottom of the page#}

    <section class="p-2">
        <div class="d-flex justify-content-end">
            <div>

                {% if user.is_authenticated %}
                    <a href="{% url 'checklist' %}" class="btn btn-primary active m-4" aria-current="page">View Summary
                        checklist</a>{% endif %}

            </div>
            <div>

                {% if category.category_name != 'Rules & Regulations' %}
                    {% get_name_next_category next_page as c_next_button %}
                    <a href="{% url  'show_block' next_page c_next_button.c_next %}" class="btn btn-primary active m-4"
                       aria-current="page">Next Building
                        Block: {{ c_next_button.c_name }} </a>
                {% endif %}

            </div>
        </div>
        </div>

    </section>


    <script src="{% static 'plan/js/utils.js' %}"></script>
    <script src="{% static 'plan/js/add_delete_idea.js' %}"></script>

{% endblock %}


