{% extends "plan/base_block.html" %}
{% load toolbox_custom_tags %}
{% load static %}
{% block title %}
    ToolBox | Building Blocks
{% endblock %}
{% block specific_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'plan/css/base_block.css' %}">
{% endblock %}

{% block category_name %}

    <div class="col text-center">
        <h2 class="text-center paragraph" id="category-url-save-idea"
            data-category-url="{{ category.category_url }}">{{ category.category_name }}</h2>
    </div>

{% endblock %}


{% block building_block_idea %}


    <!-- Showcase-->


    {% if not user.is_authenticated %}



        <div class="text-center">

            <h2 class="text-center paragraph" id="category-url-save-idea"
                data-category-url="{{ category.category_url }}">{{ category.category_name }}</h2>
        </div>
        <section class="text-dark p-3 mt-1" style="background-color: rgb(215,55,55);opacity: 0.4">


            <div class="container w-75 mx-auto" >
                <div class="d-flex flex-column ">

                    <div>

                        <p class="lead">Please sing in to get a checklist for course preparation.</p>
                        <a class="btn btn-toolbox text-light button-touch"
                           href="{% url 'login' %}?category_url={{ current_category }}&next_page={{ next_page }}">Sign in</a>
                    </div>


                </div>

            </div>

        </section>




    {% endif %}


    <!-- Block introductory text -->

    <section class="w-75 mx-auto pb-md-5 pb-sm-3">
        <div class="container">

            <div class="row">

                <div class="col-md-6">

                    <div class=""><p class="text-start mx-md-5 px-md-5">


                        {% md_to_html category.description_1 as short_d_first_html %}{{ short_d_first_html|safe }}


                    </p></div>


                </div>


                <div class="col-md-6">


                    <div class=""><p class="text-start mx-md-5 px-md-5">


                        {% md_to_html category.description_2 as short_d_second_html %}{{ short_d_second_html|safe }}


                    </p></div>

                </div>


            </div>


        </div>
    </section>


    <!-- Accordion Content -->

    {% get_accordion_content category.titles_accordion category.content_accordion as show_content %}
    {% if show_content.len_content > 0 %}

        <section class=" w-75 mx-auto">
            <div class="accordion shadow-lg">
                {% for acc_id,t,c in show_content.content_accordion %}
                    <div class="accordion" id="accordionInfo">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                {#                                 change accordion color here (the button)#}
                                <button class="accordion-button collapsed bg-light" type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{ acc_id }}" aria-expanded="false"
                                        aria-controls="collapseTwo">

                                    <h3 class="paragraph"> {% md_to_html t as title_html %}{{ title_html|safe }}</h3>

                                </button>
                            </h2>
                            <div id="collapse{{ acc_id }}" class="accordion-collapse collapse"
                                 aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionInfo">
                                <div class="accordion-body">
                                    {% md_to_html c as accordion_con_html %}{{ accordion_con_html|safe }}
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>

        </section>


    {% endif %}




    <!-- Online Ideas -->
    <div id="online-idea-container">
        {% show_ideas user.is_authenticated %}
    </div>




    {#    Buttons bottom of the page#}

    <section class="p-2">
        <div class="d-flex justify-content-end">
            <div>

                {% if user.is_authenticated %}
                    <a href="{% url 'checklist' %}" class="btn btn-toolbox text-light m-4" aria-current="page">View
                        checklist</a>{% endif %}

            </div>
            <div>

                {% if category.category_name != 'Rules & Regulations' %}
                    {% get_name_next_category next_page as c_next_button %}
                    <a href="{% url  'show_block' next_page c_next_button.c_next %}"
                       class="btn btn-toolbox text-light m-4"
                       aria-current="page"> Next building block: {{ c_next_button.c_name }} </a>
                {% endif %}

            </div>
        </div>


    </section>


    <script src="{% static 'plan/js/utils.js' %}"></script>
    <script src="{% static 'plan/js/add_delete_idea.js' %}"></script>
    <script src="{% static 'plan/js/keep_button_state.js' %}"></script>

{% endblock %}


