{% extends "plan/base_block.html" %}

{% block building_block_idea %}
<div class=" container">

    <section class="p-5 mt-1">
        <div class="container">
            <h2 class="text-center"> Online idea name</h2>

        </div>

    </section>

        <section class="p-5 mt-1">
        <div class="container">
           <div class="row">
               <div class="col">
                   <p class="lead"><strong>A brief description of the online idea <br> </strong>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur</p>
               </div>
               <div class="col">
                   <p class="lead"><strong>Example goes here </strong><br>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur</p>
               </div>
           </div>

        </div>

    </section>


    {#Contains ideas' properties shown on the idea_overview page#}
<div class="container">
    <div class="row bg-dark">
        <div class="col-md-9 col-sm-12">
    <section class=" text-light p-3 mt-md-3 mt-sm-1">
        <div class="container">
            <div class="row ideas-b-property">
                <div class="col">
                    <h4>Idea's property</h4>
                </div>
                <div class="col">
                    <p>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error</p>
                </div>
            </div>
        </div>


        <div class="container mt-3">
            <div class="row ideas-b-property">
                <div class="col">
                    <h4>Idea's property</h4>
                </div>
                <div class="col">
                    <p>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error</p>
                </div>
            </div>
        </div>


        <div class="container mt-3">
            <div class="row ideas-b-property">
                <div class="col">
                    <h4>Idea's property</h4>
                </div>
                <div class="col">
                    <p>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error</p>
                </div>
            </div>
        </div>


        <div class="container mt-3 ideas-b-property">
            <div class="row">
                <div class="col">
                    <h4>Idea's property</h4>
                </div>
                <div class="col">
                    <p>obcaecati tenetur iure eius earum ut molestias architecto voluptate aliquam
                        nihil, eveniet aliquid culpa officia aut! Impedit sit sunt quaerat, odit,
                        tenetur error</p>
                </div>
            </div>
        </div>






    </section>
            </div>
        </div>
</div>


<section class="bg-dark text-light">
        <div class="container">
            <div class="row mt-0 p-3">
                <div class="col"><a href="#" class="btn btn-primary">Show me more</a></div>
            </div>
        </div>

</section>

<section class="bg-dark text-light">

        <div class="d-flex justify-content-end">
            <div>

                <a href="#" class="btn btn-primary active m-4 pb-3" aria-current="page">Use this online recommendation in my
                    course</a>

            </div>

        </div>
</section>



    <section class="bg-light mt-4 p-5 mb-4">
        <div class="container">

          <h3 class="text-center">here goes the testimony</h3>

        </div>
    </section>
</div>


{% endblock %}