{% extends "plan/base_block.html" %}
 {% load static %}
{% block building_block_idea %}
    <section class="bg-light text-dark">

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    <div class="container mt-0 pt-4 pb-5">
                        <div class="row">
                            <h1 class="text-center">{{ idea.idea_name }}</h1>
                        </div>
                    </div>

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Description</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.brief_description %}{{ idea.brief_description|safe }}{% else %}{{ 'No data' }}{% endif %} </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Example</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.examples_application %}{{ idea.examples_application|safe }}{% else %}{{ 'No data' }}{% endif %}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Tool</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.tool %}{{ idea.tool|safe }}{% else %}{{ 'No data' }}{% endif %} </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Teacher Effort</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.teacher_effort %}{{ idea.teacher_effort|safe }}{% else %}{{ 'No data' }}{% endif %}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Implementation Steps</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.implementation_steps %}{{ idea.implementation_steps|safe }}{% else %}{{ 'No data' }}{% endif %}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Recommendations</h3>
                            </div>
                            <div class="col">
                                <p> {% if idea.recommendations %}{{ idea.recommendations|safe }}{% else %}{{ 'No data' }}{% endif %}</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Supplementary Material</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.supplementary_material %}{{ idea.supplementary_material|safe }}{% else %}{{ 'No data' }}{% endif %} </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>Reusable</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.reusable %}{{ idea.reusable|safe }}{% else %}{{ 'No data' }}{% endif %} </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>



              {#    Idea's Property#}
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-sm-12">

                    {#Ideas' property#}
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h3>References</h3>
                            </div>
                            <div class="col">
                                <p>{% if idea.references %}{{ idea.references|safe }}{% else %}{{ 'No data' }}{% endif %} </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </section>


{#    User's notes/comments#}



    <section class="bg-body mt-1">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="d-flex h-100"><p class="lead align-self-center">This is space is for you to take notes.</p></div>
            </div>
            <div class="col-md-7 p-5">
                <form action="{% url 'save_note' True %}" method="POST" id="notes-form">
                    {% csrf_token %}
                    {{ form.note_content }}
                </form>
            </div>
        </div>
    </div>
    </section>


<section class="bg-light text-dark mb-4">

        <div class="d-flex justify-content-end">
            <div>

{#                <a href="{% url 'use_idea' %}" class="btn btn-primary active m-4 pb-3" aria-current="page">Use this online recommendation in my#}
{#                    course</a>#}
<button type="submit" form="notes-form" value="Submit" class="btn btn-primary active m-4 pb-3">Use this online recommendation in my course</button>

            </div>

        </div>
</section>

  <script src="{% static 'plan/js/utils.js' %}"></script>
    <script src="{% static 'plan/js/add_delete_idea.js' %}"></script>

{% endblock %}