{# Some building blocks (e.g., Rules and Regulations) do not contain any ideas#}
{% if ideas %}
    <section>

        <!-- Online Ideas -->

        <section class="w-75 mx-auto pt-md-5 pt-sm-3">
            <div class="container">
                <h3 class="text-center mb-md-0 paragraph"> Discover the Teaching Tools for </h3>
            <h3 class="text-center mb-md-5 paragraph">{{ category.category_name }}</h3>


                {#online_idea is M2M field#}


                <div class="container">


                    <div class="row row-cols-1 row-cols-md-4 row-cols-sm-3 my-flex-card">

                        {% for idea in ideas %}


                            <div class="col">
                                <div class="card card-rcorner shadow-lg">

                                    {% if user_authenticated %}
                                        <div class=" py-0 my-0 card-color ">

                                            <input type="checkbox" class="idea-checkbox" id="{{ idea.id }}-idea"
                                                   onclick="add_delete_idea()"
                                                    {#                        The ideas that have been already chosen by registration are ticked off by default#}
                                                    {% if idea.id in ideas_list %}
                                                   checked
                                                    {% endif %}
                                            >

                                        </div>
                                    {% endif %}

                                    <div class=" card-body text-center card-color text-black flex-fill">

                                        <a
                                                href="{% url 'idea_overview_detail' current_category idea.id %}"
                                                class="btn">


                                            <h4 class="mb-3 adobe-garamond-p">{{ idea.idea_name }}</h4>

                                        </a>
                                    </div>


                                </div>
                            </div>
                        {% endfor %}

                    </div>


                </div>


            </div>
        </section>


    </section>{% endif %}