{% extends 'registration/base_registration.html' %}
{% load crispy_forms_tags %}
{% load toolbox_custom_tags %}



{% block registration_authentication %}


    <p class="card-text lead">Opening on-site courses for online learning.</p>

    <form method="post" id="log-in-form">
        {% csrf_token %}

        {% crispy form %}
        <a class="btn btn-toolbox text-light" href="{% url 'start-page' %}">Back</a>
        <button type="submit" class="btn btn-toolbox text-light" form="log-in-form">Submit</button>
    </form>


{% endblock %}