{% load bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ToolBox">
    <link rel="icon" href="data:;base64,=">
    {#  page title: displayed in browser bar #}
    <title>{% block title %}ToolBox{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'tbcore/css/toolbox_fonts.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/izv7zyo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    {# jQuery  #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% block specific_css %} {% endblock %}

</head>
{#rgba(209,242,249,0.4)#}
<body style="background-color: rgba(209,242,249,0.4); display: flex;flex-direction: column;min-height: 100vh;margin: 0">


<div style="flex-grow: 1">

    {#  Top nav menu#}
    <nav class="navbar color-nav-bar  navbar-expand-lg sticky-top border">

        <div class="container-fluid">


            <!-- Brand -->
            <div class="nav-bar-container px-md-3 pt-md-1"><a style="text-decoration: none;" href="{% url 'start-page' %}">

                {#            <img src="{% static '/tbcore/images/logo.PNG' %}" alt="" class="m-0  w-50 h-25 py-2">#}
                <div class="brand-name pt-md-1 brand-font" style="font-size: xxx-large">To<span style="color: #FFC745">o</span>lbox</div>
                <p class="text-light brand-font pt-1">Your Courses, Simply Digital.</p>

            </a>


            </div>

            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"><i
                    class="bi bi-list fs-4"></i></span></button>
            <div id="navcol-1" class="collapse navbar-collapse">
                <div class="row ms-auto ">

                    {% block top_nav_bar %}

                    {% endblock %}




                    <!-- username and logout navbar  -->
                    <div class="col-12 order-md-first">
                        <ul class="navbar-nav float-md-end">
                            {% if user.is_authenticated %}

                                {% for i in category_objects %}
                                    {% if forloop.counter == 1 %}
                                        {#                                    When user clicks on the username is redirected to the building block page#}
                                        <li class="nav-item"><a class="nav-link"
                                                                href="{% url 'show_block' i.1 i.2 %}"><span
                                                class="text-light adobe-garamond-p">{{ user.username }}</span></a></li>


                                    {% endif %}



                                {% endfor %}

                                <li class="nav-item"><a class="nav-link"
                                                        href="{% url 'logout' %}"
                                                        onclick="clearLocalStorage()"
                                ><span
                                        class="text-light adobe-garamond-p">Log out</span></a>
                                </li>
                            {% else %}

                                <li class="nav-item"><a class="btn btn-toolbox" href="{% url 'login' %}"><span
                                        class="text-light adobe-garamond-p">Log in</span></a>
                                </li>
                                <li class="nav-item"><a class="btn btn-toolbox mx-1" href="{% url 'signup' %}"><span
                                        class="text-light adobe-garamond-p">Sign up</span></a>
                                </li>

                            {% endif %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    {% block content %}


    {% endblock %}

</div>
{#End div content#}

<footer class=" text-start text-lg-start">

    <div class="container-fluid text-center">

        <div class="row">

            <div class="col-md-10 m-auto">


                <i class="bi bi-send"></i>
                <p class="text-center univers-condensed-bold" style="color: #FFFFFF; font-weight: 500; font-size: 20px">
                    We are
                    happy to help! Please contact us at: virtuos@uos.de </p>


                <div class="row">

                    <div class="col">
                        <a href="https://digitale-lehre.virtuos.uni-osnabrueck.de/?event=virtuos-offene-online-sprechstunde-5"
                           target="_blank" class="footer-header">Walk-in hours</a>
                    </div>

                    <div class="col">
                        <a href="https://digitale-lehre.virtuos.uni-osnabrueck.de/Ideenpool/Ideenpool_Praxistipps_Komplett.pdf"
                           target="_blank"
                           class="footer-header"
                        > Ideenpool (DE)
                        </a>


                    </div>

                    <div class="col">
                        <a href="https://github.com/yesidc/toolbox" target="_blank" class="footer-text">Team</a>
                    </div>

                    <div class="col">
                        <h6 class="footer-header">Impressum</h6>
                    </div>


                </div>

                {#second row#}
                <div class="row">

                    <div class="col">
                        <a href="mailto:virtuos@uos.de" class="footer-text">virtuos@uos.de</a>
                    </div>

                    <div class="col">
                        <a href="https://digitale-lehre.virtuos.uni-osnabrueck.de/uos-digilab/" target="_blank"
                           class="footer-text"><p>
                            DigiLab</p></a>
                    </div>

                    <div class="col">
                        <a href="https://virtuos.uni-osnabrueck.de/" target="_blank" class="footer-text"><p>VirtUOS</p>
                        </a>
                    </div>

                    <div class="col">
                        <p class="footer-text">Datenschutz</p>
                    </div>


                </div>

                {#third row#}
                <div class="row">

                    <div class="col">

                    </div>

                    <div class="col">
                        <a href="https://digitale-lehre.virtuos.uni-osnabrueck.de/" target="_blank" class="footer-text">Lehre
                            Portal UOS</a>

                    </div>

                    <div class="col">
                        <a href="https://www.uni-osnabrueck.de/startseite/" target="_blank" class="footer-text">Universität
                            Osnabrück</a>
                    </div>

                    <div class="col">

                    </div>

                </div>


            </div>


        </div>


    </div>


</footer>

<!-- JavaScript  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

<script>
    function clearLocalStorage() {
        localStorage.clear();
    }

</script>


</body>

</html>
