{% extends 'tbcore/base_core.html' %}

{% load bootstrap5 %}

{% block specific_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'plan/css/base_block.css' %}">
<link rel="stylesheet" href="{% static 'tbcore/css/toolbox_fonts.css' %}">
<style>

    /* Style start_page.html */
.showcase {
    background-color: #ffffff;
    padding: 50px 0;
  }
  .card-custom {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-title-custom {
    color: #0A1F40;
  }
  .card-text-custom {
    color: #333;
  }
  .building-blocks {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  .instructional-video {
    background-color: #ffffff;
    padding: 50px 0;
  }
  .what-we-do {
    background-color: #e9ecef;
    padding: 50px 0;
  }
  .section-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-title h2 {
    display: inline-block;
    position: relative;
    padding-bottom: 10px;
  }
  .section-title h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 50%;
    height: 3px;
    background-color: #007bff;
  }
  .content-title {
    color: #0A1F40;
    border-bottom: 2px solid #0A1F40;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .content-text {
    color: #333;
  }



    .card-main-img{
        width: 100%;
        height: 500px; /* Set a fixed height for all images */
        object-fit: cover; /* Ensure the image covers the entire area */
    }
    .card-custom {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-img-top {
        width: 100%;
        height: 200px; /* Set a fixed height for all images */
        object-fit: cover; /* Ensure the image covers the entire area */
    }
    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card-body .btn-card-block {
        align-self: flex-end;
    }

    .card-body .btn-card-showcase {
        align-self: flex-start;
    }
    .showcase .card-img-top {
        height: auto; /* Allow the image to be taller */
    }
</style>
{% endblock %}

{% block content %}

{# Showcase #}
<section class="showcase">
    <div class="container">
        <div class="row align-items-center">
            <!-- Left Card with Text -->
            <div class="col-md-6">
                <div class="card mb-4 card-custom">
                    <div class="card-body">
                        <h1 class="card-title card-title-custom">Welcome to Our Educational Resources</h1>
                        <p class="card-text card-text-custom mb-md-5">
                            On this website you will find tips and tricks for hybrid teaching. 
                            With the toolbox, we would like to support you in efficiently informing yourself about various teaching tips that you can implement both in presence and hybrid. We have put together the appropriate (stud.IP) tools, step-by-step handouts, experiences and an estimate of the effort involved. Additionally, you will find links to additional material and academic articles for further reading on some teaching tips.
                        </p>
                        {% if not user.is_authenticated %}
                        <a href="{% url 'show_block' 'human-touch' 'teaching-material' %}" class="btn btn-toolbox btn-card-showcase text-light  py-md-3">Start Course Digitalization</a>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div>
                            <a href="{% url 'show_block' 'human-touch' 'teaching-material' %}" class="btn btn-toolbox btn-card-showcase text-light px-md-3 py-md-3">Keep working on my courses</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Right Card with Image -->
            <div class="col-md-6">
                <div class="card mb-4 card-custom">
                    <img src={% static '/tbcore/images/start_page/main_image.jpg' %} class="card-main-img" alt="Educational Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="building-blocks">
    <div class="container">
        <h1 class="text-right">Eight Didactical Building Blocks</h1>
        <div class="row justify-content-between">
            <div class="col-md-8">
                <p>
                    These 8 building blocks cover didactically important elements of a hybrid course and form the basis of the teaching tips. Each teaching tip is assigned to one or more didactical building block.
                    Hence, you can use the didactical building blocks as a rough checklist or grid to obtain practical tips for the course elements of hybrid teaching that are relevant to you. Using the details of the teaching tips, you can then assess the added value of the methods for your class, and the effort and preparation time of your (hybrid) course more precisely.
                </p>
            </div>
            {% comment %} <div class="col-md-4">
                {% if not user.is_authenticated %}
                <a href="{% url 'show_block' 'human-touch' 'teaching-material' %}" class="btn btn-toolbox text-light px-md-5 py-md-3">Start Course Digitalization</a>
                {% endif %}
            </div> {% endcomment %}
        </div>

        <div class="row">
            <!-- Card Template -->
            <!-- Repeated 8 times -->
            {% for description in start_description %}
            <div class="col-md-3 mb-4 d-flex">
                <div class="card card-custom">
                    <img src="{% static description.3 %}" class="card-img-top" alt="Block Image">
                    <div class="card-body">
                        <h5 class="card-title card-title-custom">{{ description.0 }}</h5>
                        <p class="card-text card-text-custom">{{ description.4 }}</p>
                        <a href="{% url 'show_block' description.1 description.2 %}" class="btn btn-toolbox text-light btn-card-block">More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="instructional-video">
    <div class="container">
        <h1 class="text-center mb-5">How to Use Our Website</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 mx-auto text-center">
                <div class="custom-embed embed-responsive-16by9">
                    <iframe src="{% static '/tbcore/videos/toolbox_tutorial.mp4' %}" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="what-we-do ">
    <div class="container">
        <div class="row section-title">
            <div class="col">
                <h1 class= "text-center my-4">What We Do</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- Left Column: Teaching Tips -->
            <div class="col-md-4 offset-md-1 mb-4">
                <h3 class="content-title">Why hybrid teaching in the first place?</h3>
                <p class="content-text">
                    With hybrid teaching, you can meet the various requirements that a diverse student body brings with it and thus make it easier to combine studying and family life, for example. In view of the different learning habits of students and the limited housing market in Osnabrück or visa processing times, it makes sense to be prepared for hybrid formats in order to be able to react flexibly in new teaching-learning settings.
                </p>
            </div>
            <!-- Right Column: Hybrid Teaching -->
            <div class="col-md-3 offset-md-1 mb-4">
                <h3 class="content-title">Digitale Lehre @ UOS</h3>
                <p class="content-text">
                    More teaching tips, events about trending topics in education and in AI as well updates about technology supported by VirtUOS are published on the  <a href='https://digitale-lehre.virtuos.uni-osnabrueck.de/' target="_blank"> Digitale Lehre @ UOS</a> website.
                    Have a look at the events or get in touch in our Lehrkolleg colloquium, Ideenpool or Praxisdialog.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}